.customPostForm {
    width: 55%;
    max-height: 100%;
    overflow-y: auto;

    padding: 12px;
    color: white;
    box-sizing: border-box;
}


.customPostForm textarea {
    min-height: 80px;       /* default is very tall */
    resize: vertical;      /* optional */
}


/* Custom Scrollbar */
.customPostForm::-webkit-scrollbar {
    width: 3px;
}
.customPostForm::-webkit-scrollbar-track {
    background: transparent;
}
.customPostForm::-webkit-scrollbar-thumb {
    background: rgba(0, 229, 255, 0.3);
    border-radius: 10px;
}
.customPostForm::-webkit-scrollbar-thumb {
    background: rgba(0, 229, 255, 0.3);
    border-radius: 10px;

    margin: 6px 0;
    border: 1px solid transparent;
    background-clip: content-box;
}
